MONGO_URI=your-mongo-uri-here
MONGO_USER=your-mongo-user-here
MONGO_PASS=your-mongo-password-here
# 5000 port occupied by AirPlay receiver on MacOS
PORT=10000
# Secret key for Flask sessions and flash messages – will be used for authentication
SECRET_KEY=your-secret-key-here